asgiref==3.2.10
attrs==20.2.0
Django==3.1.1
flake8==3.8.3
iniconfig==1.0.1
mccabe==0.6.1
packaging==20.4
pluggy==0.13.1
psycopg2-binary==2.8.4
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
pytest-django==3.10.0
